@mixin dark {
  // Base Theme Dark
  --background: #872728;
  --foreground: #f2f2bc;
  --link: #ffd88a;
  --visited: #ffe9bd;

  // Code Theme Dark (Solarized Dark)
  --code-background: #002b36;
}

@mixin light {
  // Base Theme
  --green: #06d6a0;
  --red: #ef476f;
  --yellow: #ffd166;
  --blue: #118ab2;
  --background: #ebd4b2;
  --foreground: #261915;
  --link: #7b270b;
  --visited: #4c1807;
  --foreground-aside: floralwhite;

  // Code Theme (Solarized Light)
  --code-foreground: #839496;
  --code-background: #fdf6e3;
  --code-yellow: #b58900;
  --code-orange: #cb4b16;
  --code-red: #dc322f;
  --code-magenta: #d33682;
  --code-violet: #6c71c4;
  --code-blue: #268bd2;
  --code-cyan: #2aa198;
  --code-green: #859900;
}
