main {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: calc(max(env(safe-area-inset-right), 2rem));
  padding-left: calc(max(env(safe-area-inset-left), 2rem));
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.tile {
  border: solid 1px;
  padding: 2.5rem;
  background-color: var(--foreground);

  &--transparent {
    background: none;
  }
}

.link-bar {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;

  @media(min-width: 769px) {
    flex-direction: column;
    flex-basis: auto;
    justify-content: flex-start;
  }
}

.social-link {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media(min-width: 769px) {
    flex-direction: row;
  }
}

.link-icon {
  aspect-ratio: 1;
  height: 3rem;
}

.profile-picture {
  position: relative;

  background-image: var(--profile-picture-background-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &__clip-image {
    display: block;
    box-sizing: border-box;
    width: 239px;
    height: 340px;
    /* move out of the box */
    padding-left: var(--clip-image-padding);

    &--head {
      background-color: var(--background);
      clip-path: url(#head-path);
      background: repeating-linear-gradient(45deg, transparent, transparent 5px, currentcolor 5px, currentcolor 6px);
    }

    &--torso {
      background-color: var(--background);
      background: repeating-linear-gradient(90deg, var(--background), var(--background), 5px, var(--foreground) 5px, var(--foreground) 6px);
      clip-path: url(#torso-path);

      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      /* show image on hover */
      padding-left: 0;
    }
  }
}

.name {
  color: var(--background);
  margin-top: 1.2rem;
  font-weight: normal;
  line-height: 1.5;
  font-size: 1.2rem;
}

.title {
  font-size: 1.2rem;
  color: var(--background);
}

.card {
  flex: 1;
  color: var(--background);
}

.card-headline {
  font-size: 4rem;
  font-weight: 900;
}

.card-content {
  line-height: 1.5;
  max-width: 65ch;
  margin-block: 1lh;
}

.paragraph {
  margin-left: 1rem;
  text-align: justify;
  font-family: "Arimo", sans-serif;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  gap: 0.5rem;

  &__item {
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 6px;
    padding: 0.2em 0.5rem;
    font-size: 0.8rem;
    border: solid var(--foreground);
  }
}

.download-button {
  background-color: var(--red);
  padding: 0.6rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  color: var(--foreground);
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}
