:root {
  --green: #06d6a0;
  --red: #ef476f;
  --yellow: #ffd166;
  --blue: #118ab2;
  --foreground: #073b4c;
  --background: floralwhite;
  --link: #7b270b;
  --visited: #4c1807;
  @media (prefers-color-scheme: dark) {
    --foreground: floralwhite;
    --background: #073b4c;
    --link: #ffd88a;
    --visited: #ffe9bd;
  }
}

body {
  font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;

  background-color: var(--background);
  color: var(--foreground);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  position: relative;
  &__clip-image {
    display: block;
    box-sizing: border-box;
    width: 239px;
    height: 340px;
    /* move out of the box */
    padding-left: 239px;
    &--head {
      background-color: var(--red);
      clip-path: url(#head-path);
    }
    &--torso {
      background-color: var(--green);
      clip-path: url(#torso-path);

      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover {
      /* show image on hover */
      padding-left: 0;
    }
  }
}

.name {
  margin-top: 1em;
  padding-top: 0.6em;
  border-top: solid;
  border-color: var(--yellow);
  width: 239px;
  text-align: center;
}

.social-media-container {
  list-style-type: none;
  padding: 0;

  display: flex;
  justify-content: space-around;

  width: 100%;
  max-width: 239px;
}

.social-media-entry {
  transition: transform 200ms;
  $self: &;
  &__icon {
    height: 1.5em;
    transition: height 200ms;
  }
  &__label {
    font-size: 0;

    transition: font-size 200ms;
    &:link {
      text-decoration: none;
      color: var(--link);
    }
    &:visited {
      color: var(--visited);
    }
  }
  &:focus-within,
  &:hover {
    #{$self}__label {
      font-size: 1.2em;
      text-decoration: underline;
    }
    #{$self}__icon {
      height: 0px;
      overflow: hidden;
    }
  }
}
