:root {
  --odd-highlight: #e83f6f;
  --odd-background: #fbfbf8;
  --odd-foreground: #474747;
  --odd-headline: #272343;

  --odd-social-media-icon: var(--odd-background);
  @media (prefers-color-scheme: dark) {
    --odd-background: #16161a;
    --odd-foreground: #94a1b2;
    --odd-highlight: #2cb67d;
    --odd-headline: #fffffe;

    --odd-social-media-icon: var(--odd-headline);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--odd-background);
  @media (min-width: 1280px) {
    width: 100%;
    height: auto;
  }
}

body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  color: var(--odd-foreground);
  @media (min-width: 1280px) {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.social-media {
  position: fixed;
  top: 0;
  z-index: 9999; // todo change back to 2
  @media (min-width: 1280px) {
    position: static;
    display: flex;
  }
}

.social-media-link {
  background-color: var(--odd-background);
  border-radius: 1px;
  border-right: solid var(--odd-highlight);
  display: flex;
  align-items: center;
  margin-top: 0.2em;
  transform-origin: 1.2em center;
  transform: rotate(180deg);
  animation-name: social-media-link-rotation;
  animation-duration: 3s;
  transition: transform 1s;
  will-change: transform;
  &--gap {
    margin-top: 1.8em;
    @media (min-width: 1280px) {
      margin-top: auto;
    }
  }
  &__image {
    height: 2em;
    width: 2em;
    margin: 0.2em;
    border-radius: 50%;
    background-color: var(--odd-highlight);
    overflow: hidden;
    svg {
      color: var(--odd-social-media-icon);
      transform: rotate(180deg);
      @media (min-width: 1280px) {
        transform: rotate(0deg);
      }
    }
  }
  &__label {
    color: var(--odd-highlight);
    margin: 0 0.4em 0 0.4em;
  }
  &:focus-within,
  &:hover {
    transform: rotate(0deg);
  }
  @media (min-width: 1280px) {
    animation: none;
    transform: rotate(0deg);
    width: 100%;
    justify-content: center;
  }
}

.content {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  @media (orientation: landscape) {
    height: 100%;
    display: flex;
    overflow-y: hidden;
  }
  @media (min-width: 1280px) {
    display: block;
  }
}

.scroll-indicator {
  position: fixed;
  left: 0.3em;
  bottom: 0.3em;
  animation: 1s indicate-scroll linear alternate infinite;
  z-index: 4;
  width: 2em;
  color: var(--odd-highlight);
  @media (orientation: landscape) {
    display: none;
  }
  @media (min-width: 1280px) {
    display: none;
  }
}

.splash {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  &__image {
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: 1;
    @media (orientation: landscape) {
      // Two flex items equally split === 50%
      max-width: 50%;
    }
    @media (min-width: 1280px) {
      position: static;
      height: auto;
      width: auto;
      margin: 2em 0 2em 0;
      border-radius: 2px;
    }
  }
  &__egg {
    position: fixed;
    background-color: var(--odd-highlight);
    height: 5em;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    color: var(--odd-background);
    &-claim {
      font-size: 1.1em;
    }
    &-image--big {
      width: 4em;
    }
    &-image--small {
      width: 3em;
    }
    @media (min-width: 1280px) {
      display: none;
    }
  }
  &__greeting {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--odd-background);
    border-top: 0.2em solid var(--odd-highlight);
    padding-top: 1em;
    z-index: 3;
    color: var(--odd-headline);
    &--sub {
      margin-left: 3em;
    }
    &--big {
      margin-left: 3.3em;
    }
    @media (orientation: landscape) and (max-width: 1279px) {
      position: fixed;
      color: var(--odd-background);
      background-color: var(--odd-highlight);
    }
    @media (min-width: 1280px) {
      position: static;
      width: auto;
    }
  }
  @media (orientation: landscape) {
    flex: 1;
  }
  @media (min-width: 1280px) {
    position: static;
    picture {
      display: flex;
      justify-content: center;
    }
  }
}

.personal-information {
  background-color: var(--odd-background);
  padding: 0 2em 3em 2em;
  display: inline-block;
  position: relative;
  border-bottom: solid var(--odd-highlight 0.2em);
  z-index: 5;
  @media (orientation: landscape) {
    flex: 1;
    overflow-y: scroll;
    border: none;
    box-shadow: 0px 15px 15px var(--odd-foreground);
    padding-top: 2em;
  }
  @media (min-width: 1280px) {
    box-shadow: none;
    overflow-y: visible;
  }
}

.interests {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  position: relative;
  &__item {
    font-size: 0.8em;
    background-color: var(--odd-foreground);
    color: var(--odd-background);
    padding: 0.2em 0.5em;
    margin: 0.2em;
    border-radius: 5px;
  }
  @media (min-width: 1280px) {
    padding-left: 1em;
  }
}

.link {
  &:link {
    color: var(--odd-highlight);
  }
  &:visited {
    color: var(--odd-foreground);
  }
  &--perma {
    text-decoration: none;
    &:link {
      color: var(--odd-headline);
    }
    &:visited {
      color: var(--odd-headline);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.cta {
  text-align: center;
  margin-top: 2em;
}

.paragraph {
  @media (min-width: 1280px) {
    padding-left: 1em;
  }
}

@keyframes social-media-link-rotation {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes indicate-scroll {
  from {
    bottom: 0.3em;
  }
  to {
    bottom: 1em;
  }
}
