.header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 1px solid;
  padding-right: 0.5rem;
}

.logoWrapper {
  padding: 0.75rem 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
}

.banner {
  border-right: 1px solid;
  border-left: 1px solid;
  padding: 1rem;
  flex: 1;
  overflow: scroll;
}

.radioGroupWrapper {
  border: none;
}

.radioGroupLegend {
  margin-bottom: 0.8rem;
}

.RadioGroupRoot {
  display: flex;
  gap: 0.3rem;
}

.RadioGroupItemWrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.RadioGroupItem {
  background: transparent;
  width: 0.7rem;
  aspect-ratio: 1;
  border: 1px solid;
}

.RadioGroupItem:hover {
  background-color: var(--foreground);
}

.RadioGroupItem:focus {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.RadioGroupIndicator {
  width: 100%;
  height: 100%;
  background: currentColor;
  display: block;
}

.Label {
  font-weight: normal;
}
