.header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 1px solid;
  padding-right: 0.5rem;
}

.logoWrapper {
  padding: 0.75rem 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
}

.banner {
  border-right: 1px solid;
  border-left: 1px solid;
  padding: 1rem;
  flex: 1;
  overflow: scroll;
}

