<header>
  <a href="/" class="link logo">
    <svg viewBox="0 0 100 100" class="logo__asset">
      <use href="/assets/odd_logo_raw.svg#logo"></use>
    </svg>
    <span class="logo__claim">OddDev</span>
  </a>
  <section class="banner">
    <fieldset class="option">
      <legend class="option__description">
        Theme Options
      </legend>
      <input type="radio" name="theme-switcher" id="theme-switcher-option-system" value="system" />
      <label class="option-label" for="theme-switcher-option-system">System </label>
      <input type="radio" name="theme-switcher" id="theme-switcher-option-light" value="light" />
      <label class="option-label" for="theme-switcher-option-light">Light</label>
      <input type="radio" name="theme-switcher" id="theme-switcher-option-dark" value="dark" />
      <label class="option-label" for="theme-switcher-option-dark">Dark</label>
    </fieldset>
    <fieldset class="option">
      <legend class="option__description">
        Animations
      </legend>
      <input type="radio" name="motion-switcher" id="motion-switcher-option-system" value="system" />
      <label class="option-label" for="motion-switcher-option-system">System</label>
      <input type="radio" name="motion-switcher" id="motion-switcher-option-normal" value="normal" />
      <label class="option-label" for="motion-switcher-option-normal">Normal</label>
      <input type="radio" name="motion-switcher" id="motion-switcher-option-reduced" value="reduced" />
      <label class="option-label" for="motion-switcher-option-reduced">Reduced</label>
    </fieldset>
  </section>
  <div class="cta">
    <a class="link link--cta" href="mailto:hey@ungra.dev">
      <span>Message Me</span>
      <svg class="cta__icon" viewBox="0 0 100 100">
        <use href="/assets/icons/send.svg#send"></use>
      </svg>
    </a>
  </div>
</header>
