@use "header";
@use "fonts";
@use "radio-group";

// CSS Reset
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-top: 1.3rem;

  li {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background: repeating-linear-gradient(90deg, transparent, transparent 1px, currentcolor 1px, currentcolor 2px);
      border-radius: 100%;
    }
  }
}

@mixin dark {
  --background: #872728;
  --foreground: #f2f2bc;
}

@mixin light {
  --background: #ebd4b2;
  --foreground: #261915;
}

:root {
  @include light;

  [for="theme-switcher-option-system"] {
    &::after {
      content: " (light)";
    }
  }

  @media (prefers-color-scheme: dark) {
    [for="theme-switcher-option-system"] {
      &::after {
        content: " (dark)";
      }
    }

    [data-theme="system"] {
      @include dark;
    }
  }

  [data-theme="dark"] {
    @include dark;
  }

  [for="motion-switcher-option-system"] {
    &::after {
      content: " (normal)";
    }
  }

  @media (prefers-reduced-motion) {
    [for="motion-switcher-option-system"] {
      &::after {
        content: " (reduced)";
      }
    }
  }
}

html {
  font-size: 12px;
}

body {
  font-family: "Ubuntu", sans-serif;

  background-color: var(--background);
  color: var(--foreground);
}

.link {
  &:link {
    color: currentColor;
  }

  &:visited {
    color: currentColor;
  }

  &:hover {
    text-decoration: underline;
  }

  &--cta {
    &:link {
      text-decoration: none;
      color: var(--background);
      background-color: var(--foreground);
      padding: 0.7rem 1.3rem;
      font-size: 1.1rem;
      margin-inline-start: 0.7rem;
      margin-inline-end: 0.7rem;
      display: flex;
      gap: 0.5rem;
    }
  }
}

.cta__icon {
  width: 1.3rem;
}

main {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: calc(max(env(safe-area-inset-right), 2rem));
  padding-left: calc(max(env(safe-area-inset-left), 2rem));
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
  width: 100%;
}

.tile {
  border: solid 1px;
  padding: 2.5rem;
  background-color: var(--foreground);

  &--transparent {
    background: none;
  }
}

.card {
  color: var(--background);

  &--grow {
    flex: 1;
  }

  &--transparent {
    color: var(--foreground);
  }
}

.card-headline {
  font-size: 4rem;
  font-weight: 900;
}

.card-content {
  line-height: 1.5;
  max-width: 65ch;
  margin-block: 1lh;
}
